<config>
  <stimulus_plugins>
    <!-- Your plugins go here. They look like this:

    <plugin path="../lib/" name="stimulus_sample"/>

    path is relative to this config file. See the sample_stimulus
    package for an example. -->

  </stimulus_plugins>
  <display_geometry path="geom.json"/>
</config>
