<launch>
  <!-- Spawn the display server. -->
  <node name="ds" pkg="flyvr" type="display_server" args="--mode=vr_display">
  </node>

  <node type="drive_extrinsic_display_calibration" pkg="flyvr" name="drive"
  args="--intrinsic_fname=$(find flyvr)/data/sample/pinhole-intrinsics.yaml --geom_fname=$(find flyvr)/data/sample/geom.json --display_server=/ds" />

  <node type="draw_rviz_frustum" pkg="flyvr" name="draw_rviz_frustum" />

  <node type="rviz" pkg="rviz" name="rviz" args="$(find flyvr)/data/pinhole_cal.vcg" />

  <node type="joypose" pkg="flyvr" name="joypose" />
  <node type="simple_tf_filter" pkg="flyvr" name="tfilt" args="--child_frame=/pinhole_cal --topic_name=/pinhole_cal/tf"/>

  <node type="joy_node" pkg="joy" name="joy_node" />

</launch>
