<launch>

  <node name="display_server_demo" pkg="freemovr_engine" type="display_server" args="--mode overview" required="true">
    <rosparam command="load" file="$(find freemovr_engine)/config/rosparamconfig.yaml" />
    <rosparam command="load" file="$(find freemovr_engine)/config/arbitrary_geom.yaml" />
    <param name="display/windowDecoration" type="bool" value="true" />
  </node>

  <node name="send_pose" pkg="freemovr_engine" type="send_pose"/>

</launch>
