<launch>

  <node name="display_server_demo" pkg="freemoovr" type="display_server" args="--mode overview">
    <rosparam command="load" file="$(find freemoovr)/config/rosparamconfig.yaml" />
    <rosparam command="load" file="$(find freemoovr)/config/arbitrary_geom.yaml" />
    <param name="display/windowDecoration" type="bool" value="true" />
  </node>

  <node name="send_pose" pkg="freemoovr" type="send_pose"/>

</launch>
