<launch>

  <node name="display_server" pkg="freemoovr" type="display_server" args="--mode overview --throttle">
    <rosparam command="load" file="$(find freemoovr)/config/rosparamconfig.yaml" />
    <param name="p2g" type="str" value="$(find freemoovr)/config/p2g.exr" />
    <param name="display/windowDecoration" type="bool" value="true" />
  </node>

  <node name="webserver" pkg="browser_joystick" type="web_control.py"/>
  <node name="joystick_cursor" pkg="freemoovr" type="joystick_cursor"/>

</launch>
