<launch>

  <node name="display_server_demo" pkg="freemovr_engine" type="display_server" args="--mode overview">
    <rosparam command="load" file="$(find freemovr_engine)/config/rosparamconfig.yaml" />
    <param name="p2g" type="str" value="$(find freemovr_engine)/config/p2g.exr" />
    <param name="display/windowDecoration" type="bool" value="true" />
  </node>

  <node name="send_pose" pkg="freemovr_engine" type="send_pose"/>

</launch>
